
.admin_heading{
    color: blue;
    font-size: 40px;
    margin-bottom: 50px;
}
.main_div{
    border: 1px solid teal;
}
.heading{
    color: blue;
    font-size: 20px;
    margin-bottom: 50px;
}
.add_product_div{
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    width: 450px;
    height: 600px;
    padding-top: 30px;
    margin: auto;
    margin-bottom: 50px;
}
.add_product_div > input {
    border: 1px solid blue;
    width: 90%;
    margin-bottom: 10px;
    height: 40px;
}

.add_product_div > button{
    border: 1px solid blue;
    width: 90%;
    margin-bottom: 10px;
    height: 40px;
    background-color: blue;
    color: white;
}
.table_row_div{
    border: 1px solid red;
    /* width: 70%; */
}
.dashboard{
    border: 1px solid teal;
}
