.gridbox{
    width: 90%;
    display: flex;
    flex-direction: column;

    height:150px ;
    border:1px solid red;
    margin: auto;
    margin-top: 30px;
}
.collectionbox{
    margin: auto;
    width: 90%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    


    /* border: 1px solid red; */
    height:auto;
}
.collectionbox>div:first-child{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 17%;
}
.collectionbox>div:first-child>h1{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: sans-serif;
}

.collectionbox>div>img{
    width: 100%;
    height: 100%;
}
.collection-name{
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;

}
