.footer{
    height:600px;
    width:100%;
    background-color: #fafafa;
}
.qualtiytbox{
    display: flex;
    justify-content: space-around;
    background-color: white;
    width: 90%;
    height: 150px;
    border:1px solid blue;
    margin:auto;
    margin-top:50px;


}
.qualitylogo{
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;


}
.qlogobox{
    /* border:1px solid black; */
    width: 15rem; 
    height: 70px; 
}
.qlogobox>img{
    width: 100%;
    height: 100%;
}

.qualitylogo>div>h1{
    font-weight: bold;
    font-size: 1rem;

}
.qualitydetails{
    display: flex;
    width: 70%;
    align-items: center;

    /* border:1px solid green; */
    height: 100%;
    gap:20px;
}
.qualitydetails>div{
    width: 25%;
  
    height:fit-content

}
.qualitydetails>div>img:hover{
    background-color: yellow;
}
.qualitydetails>div>h1{
    font-weight: bold;
    font-size: 1rem;
}
.qualitydetails>div>h1:hover{
    color:yellow;
}
.qualitydetails>div>p{
    font-size: 15px;
}



/*********************************inputbox****************************/

.inputbox{
display: flex;
justify-content: space-between;
margin: auto;
margin-top: 30px;
border: 1px solid red;
gap:20px;
width: 90%;
}
.inputbox>div{
    width: 50%;
    border: 1px solid blue;
}
.inputbox>div>input{
    width: 70%;
    height:40px;
    border: none;
}
.inputbox>div>button{
    background-color: black;
    color:white;
    height: 40px;
    width: 20%;
    border: none;
}

/*****************************aboute box*************************************/

.aboutebox{
    width: 90%;
    height: 320px;
    display: flex;
    margin: auto;
    margin-top: 20px;


}
.aboutebox>div{
    width: 25%;
    height: 100%;
    border: 1px solid green;
    display: flex;
    text-align: left;
    flex-direction: column;
}
.aboutebox>div>a{
color: black;
text-decoration: none;
}
.aboutebox>div>h1{
    font-size: 1.2rem;
    font-weight: bold;
}
