.popcontent{
    background-color: blue;
    width: 6rem;
    height: 500px;
    display: flex;
    flex-direction: row;
    left:14.5rem;
}
.trigerbutton{
    height:30px;
    text-align: left;
    
    align-content: left;
    border-top: 1px solid black;
}
.trigerbutton:hover{
   font-weight: bold;
}
.subcategorybox{
    display: grid ;
    width: 75%;
    grid-template-columns: repeat(3,1fr);
    gap:2rem 2rem;
}
.subcategorybox>div{
    /* border: 1px solid red; */
    padding:10px 10px
}
.subcategorybox>div>h1{
    font-weight: bold;
}
.subcategorybox>div>div{
    color:grey
}
.subcategorybox>div>div:hover{
    color:#ffda00
}
.popcontent-image{
    width: 25%;
    height: 100%;
}
.popcontent-image>img{
    width: 100%;
    height: 100%;
}